#container-main{
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-size:18px;
    font-family: 'Montserrat-Regular';
}

h1{
    font-size: 24px;
    font-family: 'Montserrat-Bold';
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(static/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(static/fonts/Montserrat/Montserrat-Bold.ttf);
}